{% extends 'core/Base.html' %}
{% block title %}About | {% endblock %}
{% block content %}
     <em>Hi, I'm Ronnit Sagar, a Computer Science undergraduate at VIT Bhopal University. Passionate about web development and problem-solving, I love building web applications and tackling coding challenges.</em>
     <p style="margin-top:20px"><strong> MyGithub :
          <a href="https://github.com/Ronnit44"> Github</a>
     </strong>
     </p>
     <p><strong> MyLinkedIn :
          <a href="https://www.linkedin.com/in/ronnit-s-688941251/"> LinkedIn</a>
     </strong>
     </p>
     <p><strong> My Email : redmironit32@gmail.com </strong></p>
{% endblock %}

